node_modules/
dist/
release/
.env
*.sqlite*
*.db*
*.pem
.DS_Store
android/.gradle/
android/local.properties
android/app/build/
android/app/src/main/assets/public/
ios/App/Pods/
ios/App/build/
ios/App/App.xcodeproj/xcuserdata/
ios/App/App.xcworkspace/xcuserdata/

.dev-pairing.json
desktop-config.json
desktop/supabase.local.json
